body{
    height: 100vh;
    background:aliceblue;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 300px;
    padding: 10px 14px;
    background: rgb(33,37,41);
}

.sidebar .text{
    color:aliceblue;
    font-size: 40px;
}

.sidebar hr
{
    color:aliceblue;
    border-top: var(--bs-border-width) solid;
    opacity: 0.5;
}

.sidebar li a
{
    height: 45px;
    width: 250px;
    font-size: 18px;
    color: #ffffffbd;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.sidebar li i
{
    margin-left: 10px;
    margin-right: 10px;
}
.sidebar li a:hover {
    background: blue;
}

.content{
    margin-top: 10px;
    margin-left: 320px;
    margin-right: 30px;
}

.content h5{
    color:aliceblue;
    list-style: circle green;
}
